body {
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}

h1 {
    font-weight: 100;
    font-size: 35px;
    margin-top: 0;
    letter-spacing: 8px;
    border-bottom: 1px solid #aaa;
    padding-bottom: 20px;
}

h3 {
    font-weight: 100;
}

input {
    border: none;
    outline: none;
    height: 30px;
    width: 180px;
    padding: 5px;
    margin-right: 5px;
    box-shadow: 1px 1px 45px #AAF;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
}

button {
    height: 42px;
    border: none;
    padding: 0;
    margin: 0;
    width: 80px;
    border-radius: 10px;
    /* display: block; */
    background-color: #3f3f55;
    color: white;
    text-transform: uppercase;
}

button:hover {
  color: red;
  cursor: pointer;
}

ul {
    width: 500px;
    margin: 0 auto;
    box-shadow: 1px 1px 42px #aaa;
    margin-top: 30px;
    padding: 30px;
    font-weight: 100;
    letter-spacing: 5px;
    font-size: 20px;
}

li {
  cursor: pointer;
  list-style-type: none;
  margin: 10px 0;
}

.App {
  text-align: center;
}

.FilterMenu {
    bottom: 0;
    width: 100%;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 20px;
    margin-top: 30px;
}

.FilterMenu a {
    text-decoration: none;
    color: #aaa;
    text-transform: uppercase;
    margin: 0 20px;
    padding: 16px;
}

.FilterMenu a:hover {
  color: black;
}

.completed {
  text-decoration: line-through;
}

.not-completed {
  text-decoration: none;
}